.details {
  height: 100%;
  padding: 20px 20px;

  &__heading {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid red;
  }
}

.content {
  &__title {
    text-align: center;
    margin-bottom: 10px;
  }

  &__item {
    margin-bottom: 10px;
  }
}

