.app-wrapper {
  max-width: 1300px;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.2);
  padding: 20px 20px;
  margin: auto;

}

.app-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
